%h1="Терминал: Maersk #{@terminal}"
%p
="C: #{I18n.l @from, locale: :ru}"
%p
="По: #{I18n.l @to, locale: :ru}"
%p
="Дней простоя: #{@days}"
%p
="Размер контейнера: #{@size}"
%p
=raw("<strong>Итого: #{@price}$</strong>")
%p
=link_to "Назад", root_path
